@model IEnumerable<ExpenseTracker.Models.Expense>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">@Html.DisplayNameFor(model => model.ExpenseTitle)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.ExpenseAmount)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.ExpenseDescription)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.Category)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.Date)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">1</th>
                <td>@Html.DisplayFor(modelItem => item.ExpenseTitle)</td>
                <td>@Html.DisplayFor(modelItem => item.ExpenseAmount)</td>
                <td>@Html.DisplayFor(modelItem => item.ExpenseDescription)</td>
                <td>@Html.DisplayFor(modelItem => item.Category.CategoryName)</td>
                <td>@Html.DisplayFor(modelItem => item.ExpenseDescription)</td>
                <td>@Html.DisplayFor(modelItem => item.Date)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ExpenseId">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.ExpenseId">Details</a>
                    <a asp-action="Delete" asp-route-ID="@item.ExpenseId" onclick="return confirm('Are you sure you wish to Delete?');">
                        <i class="bi bi-trash"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>