@model IEnumerable<ExpenseTracker.Models.Category>

@*@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>*@


<div class="mainscreen">
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryAmount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryAmount)
            </td>
            <td>
                
                        <a asp-action="Edit" asp-route-id="@item.CategoryId"><img src="~/img/imgedit.png" style="height:30px" /></a>
                @*<a asp-action="Details" asp-route-id="@item.CategoryId">Details</a>*@
                       
                <a asp-action="Delete" asp-route-ID="@item.CategoryId" onclick="return confirm('Are you sure you wish to Delete these category?');"><img src="~/img/imgdelete.png" style="height:25px;margin-left:20px"/></a>
                       
            </td>
        </tr>
}
    </tbody>
</table>
    <p class="CreateButton">
    <a asp-action="Create">Add Category</a>
    </p>


</div>
